@import './variables';


.container {
    > h1 {
        font-family: 'Airbnb Cereal App Bold';
        font-size: 3.8rem;
    }

    thead th {
        border-top: none;
    }
}

.home-icon {
    height: 1.5rem;
    margin-left: 1rem;
    cursor: pointer;
}

#add-link-btn {
    border: none;
    background: $dark-color-1;
    padding: 0;

    &:focus {
        outline:none;
    }
}

#add-link-btn > img {
    width: 1.7rem;
}