.container {
    > h1 {
        font-family: 'Airbnb Cereal App Bold';
        font-size: 3.8rem;
    }
}

.home-icon {
    height: 1.5rem;
    margin-left: 1rem;
    cursor: pointer;
}

#add-link-btn {
    border: none;
    background: white;
}