@import './fonts';
@import './index';
@import './history';
@import './variables';


body {
    font-family: 'Airbnb Cereal App Book';
    background: $dark-color-1;
    color: white;
}

.modal-content {
    margin-top: 10rem;
}

.message {
    margin: 1rem;
    padding: 1rem 1rem;
    border-radius: 5px;
    color: black;
}

.message.error {
    background: #ECD2D4;
}

.message.success {
    background: #D9ECDB;
}

table {
    color: white !important;
}

.table td, .table th {
    border-top: 1px solid $dark-color-3;
}

.table thead th {
    border-bottom: 2px solid $dark-color-3;;
}

.table-striped tbody tr:nth-of-type(even) {
    background: $dark-color-2;
}

.modal-content {
    background: $dark-color-2;
}

.modal-header {
    border-bottom: 1px solid $dark-color-3;
}

.modal-footer {
    border-top: 1px solid $dark-color-3;
}

.modal .close {
    color: white;
}

select, input {
    background: $dark-color-1 !important;
    border: 1px solid $dark-color-3 !important;
    color: white !important;
}

.pagination-block {
    display: flex;
    justify-content: center;
}

.page-link {
    background-color: $dark-color-3;
    border: none;
    color: white;

    &:hover {
        background-color: $dark-color-2;
        color: white;
    }
}

.page-item.disabled .page-link {
    background-color: $dark-color-3;
    color: lightgray;
}

@media (min-width: 1200px) {
    .container {
        max-width: 900px;
    }
}
